@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');
html{
    padding: 0px;
    margin: 0px;
    background-color: #ededed;
  
    font-family: 'Akshar', sans-serif;
    color: #01181f;
    font-size: 17px;
}
p,h1,table,td, label{
    background-color: none;
    color: #014038;
    
}
h4{
    color: #05a38f;
}
body{
    width: 50%;
    margin: auto;
    height: 250vh;
    background-color: #ffffff;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    /* display: flex;
    flex-wrap: wrap; */
    overflow: scroll;
    scroll-behavior: smooth;
}
 div img{
    border-radius: 50%;
   
    margin:2rem;
}
.header{
    background-color: #f2fffe;
    width: 100%;
    position: relative;
    height: 100px;
    /* display: flex;
    flex-wrap: wrap; */
}
h3{
    background-color: #f2fffe;
    word-spacing: 1px;
}
p{
    text-align: justify;
}
.box{
    /* width: 50%; */
    position: relative;
    height: 100px;
    background-color: #e0fffb;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    align-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}
.bio-data{
    padding: 10px;
    /* border: 1px solid #043b34; */
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: -4px -2px 7px -1px rgba(181,177,181,1);
-moz-box-shadow: -4px -2px 7px -1px rgba(181,177,181,1);
box-shadow: -4px -2px 7px -1px rgba(181,177,181,1);
}
.links{
    background-color: #ededed;
    width: 100%;
    margin-top: 20px;
    height: 2rem;
}
li{
   
    text-decoration: none;
    -webkit-box-shadow: -4px -2px 7px -1px rgba(181,177,181,1);
-moz-box-shadow: -4px -2px 7px -1px rgba(181,177,181,1);
box-shadow: -4px -2px 7px -1px rgba(181,177,181,1);
}
.links-main{
    padding: 20px;
    
}